
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="input-group mb-3 w-75 mx-auto">
    <input type="text" class="form-control" placeholder="Product Name or Serial" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <a class="btn btn-primary" id="basic-addon2">Search</a>
    </div>
</div>

