@model DTOs.Objects.Product
@{
    ViewData["Title"] = "EditProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="input-group mb-3 w-75 mx-auto">
    <input id="searchInput" type="text" class="form-control" placeholder="Product Name or Serial" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <input class="btn btn-primary" id="basic-addon2" value="Search" onclick="SearchProduct()" />
    </div>
</div>

<div class="container">

    <div class="text-center mt-5">
        <img src="~/Data/Products/@Model.ImagePath" class="col-2 rounded" />
    </div>
    <form class="">

        <div class="form-group">
            <label for="exampleInputEmail1">Product ID</label>
            <input value="@Model.Id" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Product Name</label>
            <input value="@Model.Name" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Describtion</label>
            <textarea class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" readonly>@Model.Description</textarea>
        </div>

        <button type="submit" class="btn btn-danger">Delete Product</button>
    </form>

</div>

@section Scripts {
    <script>
        function SearchProduct() {
            var input = $("#searchInput").val();
            var url = "https://localhost:44308/Products/Search/" + input;

            $.ajax({
                url: url,
                type: 'POST',
                success: function () {
                    console.log('POST request sent successfully.');
                },
                error: function (xhr, status, error) {
                    console.error('Error making POST request:', error);
                }
            });
        }


    </script>
}





