@model string
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="input-group mb-3 w-75 mx-auto">
    <input id="searchInput" type="text" class="form-control" placeholder="Product ID" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <input type="button" class="btn btn-primary" id="basic-addon2" value="Search" onclick="SearchProduct()" />
    </div>
</div>

<div class="container d-none"  id="main">

    <div class="text-center mt-5">
        <img src="~/img/dummyProductImg.jpg" class="col-2 rounded" id="prodImg" />
    </div>
    <form class="" asp-action="Edit" asp-controller="Products" method="post">

        <div class="form-group">
            <label for="exampleInputEmail1">Product ID</label>
            <input name="Id" type="text" class="form-control" id="prodID" aria-describedby="emailHelp" readonly>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Product Name</label>
            <input name="Name" type="text" class="form-control" id="prodName" aria-describedby="emailHelp">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Describtion</label>
            <textarea name="Description" class="form-control" id="prodDes" aria-describedby="emailHelp"></textarea>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Price</label>
            <input name="Price" type="text" class="form-control" id="prodPrice" aria-describedby="emailHelp"></input>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Stock</label>
            <input name="Stock" type="number" class="form-control" id="prodStock" aria-describedby="emailHelp"></input>
        </div>
        <input type="text" hidden id="prodImgPath" name="ImagePath"  value=""/>
        <input type="text" hidden name="IsExist" value="true" />

        <button type="submit" class="btn btn-danger">Edit Product</button>
    </form>

</div>

@section Scripts{
    <script src="~/js/EditProduct.js"></script>
}



 